/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 740px)
  and (orientation: portrait) { 
      
      img{
          
      }
      
      #hciIcon, #internetIcon, #gamesIcon, #hardwareIcon, #softwareIcon{
          
          
      }
      
      #contentContainer{
          margin-top: -6.66%;
          margin-bottom: -3.33%;
          margin-left: 0%;
          margin-right: 0%;
          background-color: white;
          width: 100%;
          height: 100%;
      }
      
      
    #navbar{  
      display: none;
    }
      
    #sectionSelector div{
      padding: 6.50%;         
      margin-bottom: 2.75%;
      margin-left: 6.50%;
      margin-right: 66.145%;
      margin-top: 0.15%;
    }
      
    #sectionSelector div:hover::after {
      position: none;
      padding-top: none;
      padding-bottom: none;
      padding-right: none;
      padding-left: none;
      margin-top: none;
      margin-left: none;
      margin-right: none;
      color: none;
      background:none;
      border-radius: none;
    }

    #hciIcon:hover::after{
      content: none;
    }

    #internetIcon:hover::after{
      content: none;
    }

    #gamesIcon:hover::after{
      content: none;
    }

    #hardwareIcon:hover::after{
      content: none;
    }

    #softwareIcon:hover::after{
      content: none;
    }
      
    /*Display labels*/
      
    #hciName{
        position: absolute;
        padding: 6.50%;
        top: 7.01%;
        right: 25.0%;
        font-size: 610%;
        display: block;
    }

    #internetName{
        position: absolute;
        padding: 6.50%;
        top: 25.01%;
        right: 18.0%;
        font-size: 610%;
        display: block;
    }

    #gamesName{
        position: absolute;
        padding: 6.50%;
        top: 43.01%;
        right: -47.0%;
        font-size: 610%;
        display: block; 
    }

    #hardwareName{
        position: absolute;
        padding: 6.50%;
        top: 62.01%;
        right: -55.0%;
        font-size: 610%;
        display: block; 
    }

    #softwareName{
        position: absolute;
        padding: 6.50%;
        top: 80.03%;
        right: -52.88%;
        font-size: 610%;
        display: block; 
    }

/*End Display labels*/
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}