/* Portrait */

@media screen and (orientation: portrait) and (max-width:740px) {
    #contentContainer {
        margin-top: -2.66%;
        margin-bottom: -3.33%;
        margin-left: -1%;
        margin-right: 1%;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    #navbar {
        display: none;
    }
    .row {
        display: flex;
        flex-basis: 100%;
        align-items: center;
    }
    .di_o {
        flex-basis: 50%;
    }
    span {
        flex-basis: 50%;
        text-align: center;
        font-size: 150%;
        font-weight: 700;
    }
    #sectionSelector {
        flex-direction: column;
    }
    #sectionSelector div:hover::after {
        position: none;
        padding-top: none;
        padding-bottom: none;
        padding-right: none;
        padding-left: none;
        margin-top: none;
        margin-left: none;
        margin-right: none;
        color: none;
        background: none;
        border-radius: none;
    }
    #hciName {
        display: inline;
    }
    #internetName {
        display: inline;
    }
    #gamesName {
        display: inline;
    }
    #hardwareName {
        display: inline;
    }
    #softwareName {
        display: inline;
    }
    #hciIcon:hover::after {
        content: none;
    }
    #internetIcon:hover::after {
        content: none;
    }
    #gamesIcon:hover::after {
        content: none;
    }
    #hardwareIcon:hover::after {
        content: none;
    }
    #softwareIcon:hover::after {
        content: none;
    }
    /*  Display labels */
    /*      
    #hciName{
        position: absolute;
        padding: 6.50%;
        top: 7.01%;
        right: 25.0%;
        font-size: 610%;
        display: block;
    }

    #internetName{
        position: absolute;
        padding: 6.50%;
        top: 25.01%;
        right: 18.0%;
        font-size: 610%;
        display: block;
    }

    #gamesName{
        position: absolute;
        padding: 6.50%;
        top: 43.01%;
        right: -47.0%;
        font-size: 610%;
        display: block; 
    }

    #hardwareName{
        position: absolute;
        padding: 6.50%;
        top: 62.01%;
        right: -55.0%;
        font-size: 610%;
        display: block; 
    }

    #softwareName{
        position: absolute;
        padding: 6.50%;
        top: 80.03%;
        right: -52.88%;
        font-size: 610%;
        display: block; 
    }
*/
    /*End Display labels*/
}
/* Landscape */
@media screen and (orientation: portrait) and (max-device-width:740px) {
    #contentContainer {
        margin-top: -2.66%;
        margin-bottom: -3.33%;
        margin-left: -1%;
        margin-right: 1%;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    #navbar {
        display: none;
    }
    .row {
        display: flex;
        flex-basis: 100%;
        align-items: center;
    }
    .di_o {
        flex-basis: 50%;
    }
    span {
        flex-basis: 50%;
        text-align: center;
        font-size: 150%;
        font-weight: 700;
    }
    #sectionSelector {
        flex-direction: column;
    }
    #sectionSelector div:hover::after {
        position: none;
        padding-top: none;
        padding-bottom: none;
        padding-right: none;
        padding-left: none;
        margin-top: none;
        margin-left: none;
        margin-right: none;
        color: none;
        background: none;
        border-radius: none;
    }
    #hciName {
        display: inline;
    }
    #internetName {
        display: inline;
    }
    #gamesName {
        display: inline;
    }
    #hardwareName {
        display: inline;
    }
    #softwareName {
        display: inline;
    }
    #hciIcon:hover::after {
        content: none;
    }
    #internetIcon:hover::after {
        content: none;
    }
    #gamesIcon:hover::after {
        content: none;
    }
    #hardwareIcon:hover::after {
        content: none;
    }
    #softwareIcon:hover::after {
        content: none;
    }
    /*  Display labels */
    /*      
    #hciName{
        position: absolute;
        padding: 6.50%;
        top: 7.01%;
        right: 25.0%;
        font-size: 610%;
        display: block;
    }

    #internetName{
        position: absolute;
        padding: 6.50%;
        top: 25.01%;
        right: 18.0%;
        font-size: 610%;
        display: block;
    }

    #gamesName{
        position: absolute;
        padding: 6.50%;
        top: 43.01%;
        right: -47.0%;
        font-size: 610%;
        display: block; 
    }

    #hardwareName{
        position: absolute;
        padding: 6.50%;
        top: 62.01%;
        right: -55.0%;
        font-size: 610%;
        display: block; 
    }

    #softwareName{
        position: absolute;
        padding: 6.50%;
        top: 80.03%;
        right: -52.88%;
        font-size: 610%;
        display: block; 
    }
*/
    /*End Display labels*/
}

@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: landscape) {
    #contentContainer {
        margin-top: -2%;
        margin-bottom: -3.33%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    #navbar {
        display: none;
    }
}