@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100|Open+Sans);

body {
    margin: 0px;
    padding: 0px;

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*background-image: url("PNG/grey-connection.png");*/
    background-image: url("PNG/the-capsule.png");
    background-size: cover;
}
/*
#background {
    background-color: black;

}*/

.row {
    display: inline-block;
    flex-basis: none;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.di_o {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Roboto Slab', serif;
    font-size: 50pt;
    color:#292929;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 100;
}

#sectionSelector img {
    width: 100%;
}

#hciIcon, #internetIcon, #gamesIcon, #hardwareIcon, #softwareIcon {
    background-color: #292929;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#hciIcon:hover {
    background-color: #A48DDA;
    cursor: pointer;
}

#internetIcon:hover {
    background-color: #3ACDDA;
    cursor: pointer;
}

#gamesIcon:hover {
    background-color: #6ADA53;
    cursor: pointer;
}

#hardwareIcon:hover {
    background-color: #FF8550;
    cursor: pointer;
}

#softwareIcon:hover {
    background-color: #DA524F;
    cursor: pointer;
}
/*All content*/

#wrapper {
    min-height: 100% background-color: #CACDCF;
}
/*Content excluding navbar*/

#externalContainer {
    width: 100%;
}
/*Content in white box*/

#contentContainer {
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 14.2%;
    margin-right: 14.2%;
    width: 71.6%;
    height: 66.88%;
}
/*Sections*/

#sectionSelector {
    width: 91.6%;
    margin-bottom: 15%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    /*  justify-content: space-around;*/
}
/*Individual sections*/

#sectionSelector div{
    padding: 20px;
    -webkit-border-radius: 50%;
    margin: 10px;
}

/*Display bubble :hover*/

#sectionSelector div:hover::after {
     position: absolute;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 35px;
     padding-left: 35px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: auto;
     margin-top: 25px;
     color: #292929;
     /*background: linear-gradient(#00d2ff, #3a7bd5);*/
     border-radius: 10px;
}

#hciIcon:hover::after {
    content: "HCI";
}

#internetIcon:hover::after {
    content: "Internet";
}

#gamesIcon:hover::after {
    content: "Games";
}

#hardwareIcon:hover::after {
    content: "Hardware";
}

#softwareIcon:hover::after {
    content: "Software";
}
/*End bubble effect*/
/*NOT Display labels*/

#hciName {
    display: none;
}

#internetName {
    display: none;
}

#gamesName {
    display: none;
}

#hardwareName {
    display: none;
}

#softwareName {
    display: none;
}
/*End NOT Display labels*/