@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100|Open+Sans);

body {
    margin: 0px;
    padding: 0px;

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*background-image: url("PNG/grey-connection.png");*/
    background-image: url("PNG/the-capsule.png");
    background-size: cover;
}
/*
#background {
    background-color: black;

}*/

/*Content excluding navbar*/
#externalContainer {
/*    background-color: white;*/
    width: 100%;
}

/*All content*/
#wrapper {
    min-height: 100%;
}


/*Content*/
#contentContainer {
/*    background-color: red;*/
/*    margin-top: 10%;*/
    margin-left: 14.2%;
    margin-right: 14.2%;
    width: 71.6%;
    height: 66.88%;
}

#contentContainer h1 {
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Roboto Slab', serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 50pt;
    color:#292929;
    font-weight: 100;
/*    text-shadow: -3px 2px 11px rgba(40, 107, 133, 0.55);*/
    text-shadow: 0px 4px 2px rgba(150, 150, 150, 1);
}

/*Sections*/

#sectionSelector {
  /*  background-color: blue;*/
    width: 91.6%;
    margin: 0 auto;
    margin-bottom: 15%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    /*  justify-content: space-around;*/
    -webkit-transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
     -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
}

#sectionSelector img {
    width: 100%;
}

.row {
/*    background-color: yellow;*/
    border-radius: 50%;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    margin: 10px;
}

.row div{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.row div img{
    transform: scale(0.75);
}

#hciIcon, #internetIcon, #gamesIcon, #hardwareIcon, #softwareIcon {
    background-color: #292929;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    transition: ease-in-out all 0.2s;
}

.row:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Individual sections*/

#sectionSelector:hover .row:not(:hover){
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#hciIcon:hover {
    background-color: #A48DDA;
    box-shadow: 0px 0px 3px 4px #E8E6E8; 
}

#internetIcon:hover {
    background-color: #3ACDDA;
    box-shadow: 0px 0px 3px 4px #E8E6E8; 
}

#gamesIcon:hover {
    background-color: #6ADA53;
    box-shadow: 0px 0px 3px 4px #E8E6E8; 
}

#hardwareIcon:hover {
    background-color: #FF8550;
    box-shadow: 0px 0px 3px 4px #E8E6E8; 
}

#softwareIcon:hover {
    background-color: #DA524F;
    box-shadow: 0px 0px 3px 4px #E8E6E8; 
}


/*Display bubble :hover*/
.row div:hover::after{
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    text-shadow: 0px 3.5px 3px rgba(150, 150, 150, 1);
}

#hciIcon:hover::after {
    content: "HCI";
}

#internetIcon:hover::after {
    content: "Internet";
}

#gamesIcon:hover::after {
    content: "Games";
}

#hardwareIcon:hover::after {

    content: "Hardware";
}

#softwareIcon:hover::after {
    content: "Software";
}
/*End bubble effect*/

/*NOT Display labels*/

#hciName {
    display: none;
}

#internetName {
    display: none;
}

#gamesName {
    display: none;
}

#hardwareName {
    display: none;
}

#softwareName {
    display: none;
}
/*End NOT Display labels*/