<!DOCTYPE html>
<html>
	<head>
		<!-- !!!!CHANGE PAGE TITLE HERE -->
		<title>test_welcome_screen</title>
		<!-- PUT YOUR NAME HERE AND ALSO NEAR THE BOTTOM OF THE PAGE -->
		<meta name="author" content="YOUR_NAME">
		<link rel="stylesheet" type="text/css" href="test.css"/>
		<meta charset="UTF-8">
		<!-- ADD THIS -->
		<link rel="shortcut icon" href="../../../favicon.png">
	</head>

<body>
	<div id="wrapper">
		<div id="navbar">
				<ul>
				<!-- !!!!FOR YOUR AREA ADD class="selected" TO THE CORRECT <li> E.G IF YOU DID HARDWARE, YOU SHOULD SEE:
					<li class="selected"><a href="../hardware.html">Hardware</a></li>-->
					<li><a href="../../../index.html">Home</a></li>
					<li><a href="../../../html/hardware/index.html">Hardware</a></li>
					<li class="selected"><a href="../../../html/software/index.html">Software</a></li>
					<li><a href="../../../html/internet/index.html">Internet</a></li>
					<li><a href="../../../html/games/index.html">Games</a></li>
				</ul>
		</div>

		<div id="externalContainer">
			<div id="contentContainer">
				<h1>History of Informatics</h1>
				<div id="sectionSelector">
					<div class="column" id="hciIcon"><img src="hci.png" alt="hciIcon"></div>
					<div class="column" id="internetIcon"><img src="internet.png" alt="internetIcon"></div>
					<div class="column" id="gamesIcon"><img src="games.png" alt="gamesIcon"></div>
					<div class="column" id="hardwareIcon"><img src="hardware.png" alt="hardwareIcon"></div>
					<div class="column" id="softwareIcon"><img src="software.png" alt="softwareIcon"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
