                <ul>
                {{ navElement }}
                    <div id="nav_search">
                        <form action="get">
                            <input id="search_field" autocomplete="off" name="search" type="text" placeholder="TO BE CHANGED">
                            <input id="search_submit" value="" type="image" src="/search.png">
                        </form>
                    </div>
                </ul>