            <div id="topicMain">
                <div id="content">
                    <h1>{{ sectionTitle }}</h1>
                    <div class="text">
                        {{ sectionDescription }}
                    </div>
					<div class="Timeline {{ sectionClass }}">
						{{ timelineEntries }}
					</div>
                </div>
            </div>