<a href="{{ link }}" class="TimelineEntry">
	<img class="EntryImage" src="">
	<div class="EntryText">
		<h1 class="EntryTitle">{{ title }}</h1>
		<h2 class="EntryDate">{{ date }}</h2>
		<p class="EntryDescription"></p>
	</div>
</a>
