            <div id="topicMain">
                <a href="{{ previousLink }}"><div id="tp_button" class="bLeft"><img src="/arrow.png"></div><div id="tp_button_hover" class="tbhl"><p>{{ previousTitle }}<p></div></a>
                        {{ body }}

                <a href="{{ nextLink }}"><div id="tp_button" class="bRight"><img src="/arrow.png"></div><div id="tp_button_hover" class="tbhr"><p>{{ nextTitle }}<p></div></a>
            </div>