<!DOCTYPE> 
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="navbar">
        <ul>
            <li>Home</li>
            <li>Software</li>
            <li>Hardware</li>
            <li>Internet</li>
            <li>Games</li>
            <li>HCI</li>
        </ul>
    </div>
    
    <div id="main">
        <div id="button" class="bLeft"></div>
        <div id="content">
        <h1> Title </h1>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="Timeline">
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			
		</div>
        </div>
        <div id="button" class="bRight"></div>
    </div>
    <footer>Footer</footer>
</body>
</html>