<div id="main">
	<div id="button" class="bLeft"></div>
	<div id="content">
		<h1> {{ sectionTitle }} </h1>
		<div>  {{ sectionDescription }} </div>
		<div class="Timeline {{ sectionClass }}">
			{{ timelineEntries }}
		</div>
	</div>
	<div id="button" class="bRight"></div>
</div>
