body {
    margin: 0px;
    padding: 0px;
}
#main{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row nowrap;
    -webkit-box-flex-flow: row nowrap;    
    flex-flow: row nowrap;  
}
#content{
    background-color: white;
    box-shadow: 0px 0px 8px #EEE;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    text-align: justify;
    padding: 30px;
    font-family: "Arial";
    font-size: 20px;
    width: 70%;
}
/*.wrapper {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-flex-flow: row wrap;
    -webkit-box-flex-flow: row wrap;    
    flex-flow: row wrap;
}*/
header {
    padding: 20px;
    margin-bottom: 50px;
}
footer {
    padding: 20px;
    margin-top: 50px;
}

.img img{
    width: 200px;
}
.img{
    padding: 10px;
    float: right;
}


#button{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 27px;
}

#navbar{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}
#navbar ul{
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: row;
    -webkit-box-flex-flow: row;    
    flex-flow: row;  

    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 60%;
    min-width: 450px;
}
#navbar li{
    text-align: center;

    flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}
.text {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;

}
body{
    background-color: #f3f2f7;
}

/* ----- Begin timeline ------ */

.Timeline {
	display: flex;
	flex-flow: row nowrap;
	overflow-X: scroll;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}

.TimelineEntry {
	flex: 1 0 33.333%;
	display: inline-flex;
    text-decoration: none;
	white-space: initial;
	margin: .5em 1em;
	color: inherit;
	background-color: #f3f2f7;
	padding: 1em;
	border-radius: 2px;
	transition: background-color .5s;
	font-size: initial;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	border-top-style: solid;
	border-top-width: 2px;
}

.Software > .TimelineEntry {
	border-top-color: #fe466c;
}

.Internet > .TimelineEntry {
	border-top-color:  #67d0f0;
}

.Games > .TimelineEntry {
	border-top-color:  #cde855;
}

.HCI > .TimelineEntry {
	border-top-color:  #ff8a9d;
}

.Hardware > .TimelineEntry {
	border-top-color:  #ff893b;
}

/*
.TimelineEntry:hover {
	background-color: lightblue;
}	

.TimelineEntry:active {
	background-color: DodgerBlue;
}	

.TimelineEntry:visited {
	background-color: darkgrey;
}	
*/

.TimelineEntry > * {
	flex-grow: 1;
	flex-shrink: 1;
	display: block;
	margin: .2em 0;
}

.EntryImage {
	flex-basis: 60%;
	margin: 0 auto;
	max-width: 100%;
}

.EntryDateAndTitle {
	flex-basis: auto;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.EntryTitle, .EntryDate {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
    color: #DB5659;
    font-size: larger;
}

.EntryTitle {
	order: 1;
    text-align: left;
}

.EntryDate {
	order: 2;
    text-align: right;
    font-size: inherit;
}

.EntryDescription {
	flex-basis: auto;
    text-align: justify;
	width: 100%;
    
}

/* ----- End timeline ------ */
