<a href="{{ entryLink }}" class="TimelineEntry">
	<img class="EntryImage" src="{{ entryImage }}">
	<div class="EntryText">
		<h1 class="EntryTitle">{{ entryTitle }}</h1>
		<h2 class="EntryDate">{{ entryDate }}</h2>
		<p class="EntryDescription">{{ entryDescription }}</p>
	</div>
</a>
