div.Timeline {
	overflow-X: scroll;
	width: 100%;
	white-space: nowrap;
	height: 50%;
}

div.Timeline > a.TimelineEntry {
	display: inline-block;
    text-decoration: none;
    width: 33.3%;
	white-space: initial;
	margin: 1em 2em;
	color: black;
	background-color: lightgrey;
	padding: 1em;
	text-align: center;
	border-radius: 2px;
	transition: background-color .5s;
	height: 100%;
}

div.Timeline > a.TimelineEntry:hover {
	background-color: lightblue;
}	

div.Timeline > a.TimelineEntry:active {
	background-color: DodgerBlue;
}	

div.Timeline > a.TimelineEntry:visited {
	background-color: darkgrey;
}	

div.Timeline > a.TimelineEntry > img.EntryImage {
	display: block;
	max-height: 60%;
	max-width: 100%;
}

div.Timeline > a.TimelineEntry > h1.EntryDateAndTitle {
	display: block;
    text-align: left;
    color: tomato;
    font-size: larger;
}
 
div.Timeline > a.TimelineEntry > p.EntryDescription {
	display: block;
    text-align: justify;
    
}
