<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="Timeline.css">
	</head>
	<body>
		<div class="Timeline">
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			<a href="http://en.wikipedia.org/wiki/Charles_Babbage" class="TimelineEntry">
				<img class="EntryImage" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Charles_Babbage_1860.jpg">
				<h1 class="EntryDateAndTitle">26 December 1791 - Charles Babbage</h1>
				<p class="EntryDescription">Charles Babbage, FRS (26 December 1791 - 18 October 1871) was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>
			</a>
			
		</div>
	
	</body>
</html>
