<!DOCTYPE> 
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="navbar">
        <ul>
            <li>Home</li>
            <li>Software</li>
            <li>Hardware</li>
            <li>Internet</li>
            <li>Games</li>
            <li>HCI</li>
        </ul>
    </div>
    <div id="main">
        <div id="button" class="bLeft"></div>
        <div id="content">
            <div class="text text1">
                {{ articleText }}
            </div>
        </div>
    </div>
    <div id="button" class="bRight"></div>
    <footer>Footer</footer>
</body>
</html>