@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100|Open+Sans);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: url("../img/the-capsule.png");
    background-size: cover;
}
#topicMainWrapper{
    min-height: 100vh;
}

#topicMain{
    /*border: 1px solid black;*/
    width: 81%;
    margin: 0 auto;
    min-height: 85vh;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: row nowrap;
    -webkit-box-flex-flow: row nowrap;    
    flex-flow: row nowrap;  
}
#content{
    padding: 25px 60px 45px 60px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 85px;
    display: inline-block;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
footer {
    color: #ddddda;
    background-color: #292929;
    text-align: center;
    font-size: 10pt;
    padding: 20px;
    margin-top: -55px;
}
.text{
    text-align: justify;
}
.img img{
    width: 200px;
}
.img{
    padding: 10px;
    float: right;
}
#tp_button{
    z-index: 10;
    position: fixed;
    width: 40px;
    height: 60px;
    margin-top: 50vh;

    -webkit-transform: translateY(-180%);
    -moz-transform: translateY(-180%);
    -ms-transform: translateY(-180%);
    -o-transform: translateY(-180%);
    transform: translateY(-180%);

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    
    background: rgba(0,0,0,0.3);
}
.bRight{
    border-radius: 60px 0 0 60px;
    margin-left: -40px;
}
.bLeft{
    border-radius: 0 60px 60px 0;
    margin-left: 0px;
}
.bRight img{
    position: inherit;
    right: 5px;
    transform: rotate(180deg);
}
.bLeft img{
    margin-left: 5px;
}
#tp_button img{
    margin-top: 12px;
    height: 60%;
}
#tp_button:hover{
    background: rgba(0,0,0,0);
}
#tp_button_hover{
    /*opacity: 1;*/
    text-align: center;
    position: fixed;
    height: 60px;

    color: white;
    background: rgba(100,100,100,0.8);

    z-index: 8;
    margin-top: 50vh;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transform: translateY(-180%);
    -moz-transform: translateY(-180%);
    -ms-transform: translateY(-180%);
    -o-transform: translateY(-180%);
    transform: translateY(-180%);
}
#tp_button_hover p{ 
    min-width: 200px;
}
.tbhr{
    opacity: 0;
    width: 0;
    border-radius: 60px 0 0 60px;
}
.bRight:hover ~ .tbhr{
    opacity: 1;
    width: 250px;
    margin-left: -250px;
}
.tbhl{
    opacity: 0;
    width: 0;
    border-radius: 0 60px 60px 0;
}
.bLeft:hover ~ .tbhl{
    opacity: 1;
    width: 250px;
}
.tbhl p{
    position: absolute;
    margin-left: -200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.bLeft:hover ~ .tbhl p{
    margin-left: 30px;
}