body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

    background: rgb(226,226,226);
}
#mainWrapper{
    min-height: 100vh;
}
#main{
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: row wrap;
    -webkit-box-flex-flow: row wrap;    
    flex-flow: row wrap;  
}
#content{
    padding: 25px;
    width: 81.6%;
    margin: 0 auto;
    display: inline-block;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
footer {
    color: #ddddda;
    background-color: #292929;
    padding: 20px;
    width:100%;
    margin-top: 100%;
}
.text{
    text-align: justify;
}
.img img{
    width: 200px;
}
.img{
    padding: 10px;
    float: right;
}
#button{
    /*border: 2px solid black;*/
    position: relative;
    bottom: 50%;
    width: 50px;
    height: 50px;
    background: white;
    /*border-radius: 27px;*/
}
#button .bRight{
    left: -50px;
}