<!DOCTYPE> 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="ArticleMobile.css">
        <link rel="stylesheet" type="text/css" href="../navbar.css">
        <meta http-equiv="content-type" content="application/vnd.ms-excel" charset="UTF-8">
        <meta charset="UTF-8">
    </head>
    <body>
            <div id="navbar">
                <a href="#" id="menu-icon">&#9776;</a>
                <ul>
                    <li class="nav_home"><a href="../Main%20page%20test/test.html">HOME</a></li>
                    <li class="nav_software"><a href="#">SOFTWARE</a></li>
                    <li class="nav_hardware selected"><a href="#">HARDWARE</a></li>
                    <li class="nav_internet"><a href="#">INTERNET</a></li>
                    <li class="nav_games"><a href="#">GAMES</a></li>
                    <li class="nav_hci"><a href="#">HCI</a></li>
                    <div id="nav_search">
                        <form action="get">
                            <input id="search_field" autocomplete="off" name="search" type="text" placeholder="TO BE CHANGED">
                            <input id="search_submit" value="" type="image" src="../img/search.png">
                        </form>
                    </div>
                </ul>
            </div>
                    <div id="wrapper">
            <div id="topicMain">
                <a href="#"><div id="tp_button" class="bLeft"><img src="../img/arrow.png"></div><div id="tp_button_hover" class="tbhl"><p>Previous Topic page<p></div></a>
                <div id="content">
                    <h1>Titolo TITOLO Titolo</h1>
                    <div class="text">
                        <div class="img">
                            <img src="http://timerime.com/upload/resized/193525/2233659/resized_image2_ee797f069e4f7acf38547002f7d78564.jpg">
                        </div>
                        <p>Charles Babbage, FRS (/ˈbæbɪdʒ/; 26 December 1791 – 18 October 1871) was an English polymath.[1] A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>

                        <p>Considered a "father of the computer",[2] Babbage is credited with inventing the first mechanical computer that eventually led to more complex designs. His varied work in other fields has led him to be described as "pre-eminent" among the many polymaths of his century.[1]</p>

                        <p>Parts of Babbage's uncompleted mechanisms are on display in the London Science Museum. In 1991, a perfectly functioning difference engine was constructed from Babbage's original plans. Built to tolerances achievable in the 19th century, the success of the finished engine indicated that Babbage's machine would have worked.</p>

                        <h2>Early life</h2>
                        <p>Babbage's birthplace is disputed, but according to the Oxford Dictionary of National Biography he was most likely born at 44 Crosby Row, Walworth Road, London, England.[3] A blue plaque on the junction of Larcom Street and Walworth Road commemorates the event.[4]</p>

                        <p>His date of birth was given in his obituary in The Times as 26 December 1792; but then a nephew wrote to say that Babbage was born one year earlier, in 1791. The parish register of St. Mary's Newington, London, shows that Babbage was baptised on 6 January 1792, supporting a birth year of 1791.[5][6][7]</p>

                        <p>Babbage was one of four children of Benjamin Babbage and Betsy Plumleigh Teape. His father was a banking partner of William Praed in founding Praed's & Co. of Fleet Street, London, in 1801.[9] In 1808, the Babbage family moved into the old Rowdens house in East Teignmouth. Around the age of eight Babbage was sent to a country school in Alphington near Exeter to recover from a life-threatening fever. For a short time he attended King Edward VI Grammar School in Totnes, South Devon, but his health forced him back to private tutors for a time.[10]</p>

                        <p>Babbage then joined the 30-student Holmwood academy, in Baker Street, Enfield, Middlesex, under the Reverend Stephen Freeman. The academy had a library that prompted Babbage's love of mathematics. He studied with two more private tutors after leaving the academy. The first was a clergyman near Cambridge; through him Babbage encountered Charles Simeon and his evangelical followers, but the tuition was not what he needed.[11] He was brought home, to study at the Totnes school: this was at age 16 or 17.[12] The second was an Oxford tutor, under whom Babbage reached a level in Classics sufficient to be accepted by Cambridge.</p>
                        <div class="img">
                            <img src="http://timerime.com/upload/resized/193525/2233659/resized_image2_ee797f069e4f7acf38547002f7d78564.jpg">
                        </div>
                        <p>Charles Babbage, FRS (/ˈbæbɪdʒ/; 26 December 1791 – 18 October 1871) was an English polymath.[1] A mathematician, philosopher, inventor and mechanical engineer, Babbage is best remembered for originating the concept of a programmable computer.</p>

                        <p>Considered a "father of the computer",[2] Babbage is credited with inventing the first mechanical computer that eventually led to more complex designs. His varied work in other fields has led him to be described as "pre-eminent" among the many polymaths of his century.[1]</p>

                        <p>Parts of Babbage's uncompleted mechanisms are on display in the London Science Museum. In 1991, a perfectly functioning difference engine was constructed from Babbage's original plans. Built to tolerances achievable in the 19th century, the success of the finished engine indicated that Babbage's machine would have worked.</p>

                        <h2>Early life</h2>
                        <p>Babbage's birthplace is disputed, but according to the Oxford Dictionary of National Biography he was most likely born at 44 Crosby Row, Walworth Road, London, England.[3] A blue plaque on the junction of Larcom Street and Walworth Road commemorates the event.[4]</p>

                        <p>His date of birth was given in his obituary in The Times as 26 December 1792; but then a nephew wrote to say that Babbage was born one year earlier, in 1791. The parish register of St. Mary's Newington, London, shows that Babbage was baptised on 6 January 1792, supporting a birth year of 1791.[5][6][7]</p>

                        <p>Babbage was one of four children of Benjamin Babbage and Betsy Plumleigh Teape. His father was a banking partner of William Praed in founding Praed's & Co. of Fleet Street, London, in 1801.[9] In 1808, the Babbage family moved into the old Rowdens house in East Teignmouth. Around the age of eight Babbage was sent to a country school in Alphington near Exeter to recover from a life-threatening fever. For a short time he attended King Edward VI Grammar School in Totnes, South Devon, but his health forced him back to private tutors for a time.[10]</p>

                        <p>Babbage then joined the 30-student Holmwood academy, in Baker Street, Enfield, Middlesex, under the Reverend Stephen Freeman. The academy had a library that prompted Babbage's love of mathematics. He studied with two more private tutors after leaving the academy. The first was a clergyman near Cambridge; through him Babbage encountered Charles Simeon and his evangelical followers, but the tuition was not what he needed.[11] He was brought home, to study at the Totnes school: this was at age 16 or 17.[12] The second was an Oxford tutor, under whom Babbage reached a level in Classics sufficient to be accepted by Cambridge.</p>
                    </div>
                </div>
                <a href="#"><div id="tp_button" class="bRight"><img src="../img/arrow.png"></div><div id="tp_button_hover" class="tbhr"><p>Next Topic page<p></div></a>
            </div>
        </div>
        <footer>• Name Surname &copy; All rights reserved •</footer>
    </body>
</html>