<a class="TimelineEntry" href="{{ entryLink }}">
	 <h1 class="EntryDate">  {{ entryDate }} </h1>
	 <h2 class="EntryTitle"> {{ entryTitle }} </h2>
	 <img class="EntryImg" src="{{ entryImg }}">
	 <p class="EntryTxt"> {{ entryTxt }} </p>
</a>
