<a href="{{ entryLink }}" class="TimelineEntry">
	<img class="EntryImage" src="{{ entryImage }}">
	<div class="EntryDateAndTitle">
		<h1 class="EntryTitle">{{ entryTitle }}</h1>
		<h2 class="EntryDate">{{ entryDate }}</h2>
	</div>
	<p class="EntryDescription">{{ entryDescription }}</p>
</a>